---
import { Icon } from 'astro-icon';
---

<footer class="footer p-10 bg-neutral text-neutral-content mt-auto">
    <div>
        <p>
text
        </p>
    </div>
    <div>
        <span class="footer-title">Social</span>
        <div class="grid grid-flow-col gap-4 content-center">
           
        </div>
    </div>
</footer>
